.App {
    padding: 10px;
}

.delimInput {
    width: 50px;
}

.tabList {
    display: flex;
    justify-content: space-between;
}

h3.selectedTab {
    border-bottom-width: 0px;
}

.tabButton {
    margin-top: 0;
    cursor: pointer;
    border-style: solid;
    border-color: #c1bcbc;
    border-width: 1px;
    padding: 0px 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

.tabListPreview {
    margin-left: 10px;
    overflow: auto;
}

.alert {
    margin-top: 10px;
    padding: 5px;

    background: lightgreen;
    border-radius: 10px;
    text-align: center;
}

.exportButton {
    width: 100%;
    border-color: #d3d3d3;
}

.controls {
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    background-color: white;
}

.controls:focus-visible {
    border-color: #adaaaa;
    outline-color: #adaaaa;
}

.fieldSelect {
    margin: 0px 5px;
}

.fieldGroup:nth-child(1) {
    margin-left: 0px;
}

.formLabel {
    margin: 5px 0px;
}

.urlImportInput {
    width: calc(100% - 10px);
    resize: none;
    min-height: 117px;
    overflow-wrap: normal;
    text-wrap: nowrap;
}
